
#content {
    .wonderpluginaudio:not([data-skin="blueplaystop"]) {
        width: 80% !important;
        max-width: $content_width_wide;
        margin: 0 auto;
        padding: 4em 0;
        min-height: 250px;

        background: url(img/bg-audience.jpg) no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;

        .amazingaudioplayer-title,
        .amazingaudioplayer-info,
        .amazingaudioplayer-time {
            display: none;
        }

        .amazingaudioplayer-play,
        .amazingaudioplayer-pause {
            margin-left: 21px ;
            margin-top: 19px;
            max-width: 17%;
            float: left;
        }

        .amazingaudioplayer-play:hover,
        .amazingaudioplayer-pause:hover {
            background-position-y: top !important; /* remove hover effect */
        }

        .amazingaudioplayer-player-wrapper,
        .amazingaudioplayer-tracklist {
            max-width: $content_width;
            margin: 0 auto;
        }

        .amazingaudioplayer-progress {
            position: relative;
            width: 83%;
            float: right;
            height: 6px !important;
            margin-top: 41px;
            background-color: $color_accent_dark;
            overflow: visible !important;
        }

        .amazingaudioplayer-progress-loaded {
            background-color: $color_accent_dark;
        }

        .amazingaudioplayer-progress-played {
            background-color: $color_accent;
        }

        .amazingaudioplayer-progress-played::after {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            float: right;
            position: relative;
            top: -5px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
            background-color: $color_accent;
        }

        .amazingaudioplayer-player-wrapper {
            position: relative;
            top: 2em;
            width: 60%;
        }

        .amazingaudioplayer-tracks-wrapper {
            width: 100%;
        }

        .amazingaudioplayer-tracklist {
            width: 60%;
            min-height: 120px;
            background-color: rgba(255, 255, 255, .5);
            padding: 7em 4em 1em 4em;
            text-align: center;

            ul {
                list-style-type: none;
                cursor: pointer;
                padding: 0;
                margin: 0;

                li {
                    margin: 0;
                    font-weight: 700;

                    span {
                        padding-left: .5em;
                        font-weight: 700;
                        color: $color_accent;
                        letter-spacing: 0.07em;
                    }
                }

                li.amazingaudioplayer-track-item-active {
                    color: $color_accent;
                }

                li.amazingaudioplayer-track-item-active:not(.amazingaudioplayer-track-item-hoverover) div::before {
                    content: "\203A";
                    display: inline-block;
                    font-weight: 700;
                    padding-right: .5em;
                }

                li.amazingaudioplayer-track-item-hover div::before {
                    display: none;
                }
            }
        }
    }

    .wonderpluginaudio[data-skin="blueplaystop"] {
        .amazingaudioplayer-play:hover,
        .amazingaudioplayer-pause:hover {
            background-position-y: top !important; /* remove hover effect */
        }

        .amazingaudioplayer-pause {
            width: 90px !important;
        }

        .amazingaudioplayer-time {
            display: none;
            width: 3em;
            height: 1.5em;
            padding-left: 2em;
            margin-top: -1em;
            font-weight: 700;
            overflow: hidden;
            color: $color_accent;
        }
    }
}

.page-id-207 #content {
    .wonderpluginaudio:not([data-skin="blueplaystop"]) {
        background: url(img/bg_wedding_symbol.jpg) no-repeat center center;
        background-size: cover;
    }
}

.color-scheme-sarahhuber #content .post-1047 {
    .wonderpluginaudio:not([data-skin="blueplaystop"]) {
        background: url("/wp-content/themes/sheee2/img/sarahhuber/player-bg-trauerfeier.jpg") no-repeat center center;
        background-size: cover;
    }
}

@include media("<=desktop") {
    #content {
        .amazingaudioplayer-play,
        .amazingaudioplayer-pause {
            max-width: 25%;
        }

        .wonderpluginaudio {
            .amazingaudioplayer-progress {
                width: 75%;
            }
        }
    }
}

@include media("<=tablet") {
    #content {
        .amazingaudioplayer-play,
        .amazingaudioplayer-pause {
            max-width: 40%;
        }

        .wonderpluginaudio {
            .amazingaudioplayer-progress {
                width: 60%;
            }
        }
    }

    .amazingaudioplayer-tracklist {
        padding-top: 8em;
    }
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
    #{nth($selectors, $i)} {
        #content {
            .wonderpluginaudio:not([data-skin="blueplaystop"]) {
                .amazingaudioplayer-progress {
                    background-color: #{nth($colors_accent_dark, $i)};
                }

                .amazingaudioplayer-progress-loaded {
                    background-color: #{nth($colors_accent_dark, $i)};
                }

                .amazingaudioplayer-progress-played {
                    background-color: #{nth($colors_accent, $i)};
                }

                .amazingaudioplayer-progress-played::after {
                    background-color: #{nth($colors_accent, $i)};
                }

                .amazingaudioplayer-tracklist {
                    ul {
                        li {
                            span {
                                color: #{nth($colors_accent, $i)};
                            }
                        }

                        li.amazingaudioplayer-track-item-active {
                            color: #{nth($colors_accent, $i)};
                        }
                    }
                }
            }

            .wonderpluginaudio[data-skin="blueplaystop"] {
                .amazingaudioplayer-time {
                    color: #{nth($colors_accent, $i)};
                }
            }
        }
    }
}
