/*!
 * Menu
 */
header {
    ul.menu {
        list-style-type: none;

        li {
            display: inline;

            a {
                position: relative;
                color: $color_text_light;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 18px;
                text-decoration: none;
                margin: 0 1em;
                padding: 1em 0;
                letter-spacing: 0.07em;

                transition: color 0.3s, background-color 0.3s;
            }

            a:hover {
                /*color: $color_accent;*/
            }


            a:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0.7em;
                left: 0;
                background-color: $color_background-screen;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.2s ease-in-out 0s;
                transition: all 0.2s ease-in-out 0s;
            }


            a:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

        }

        li.current_page_item {
            a:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

            a {
                font-weight: 700;
            }
        }
    }

    #sheeeLogo {
        position: absolute;
        max-width: 160px;
        z-index: 50;
        top: 40px;
        left: 20px;
    }
}

@include media("<=desktop") {
    header {
        .menu-toggle {
            display: block;
        }

        .menu {
            li {
                display: block;
                line-height: 2.2;
                text-align: right;

                a {
                    display: block;
                }

                a:hover {
                    color: #fff;
                    background-color: $color_accent;
                }

                a:hover:before {
                    visibility: hidden;
                }
            }
        }

        #sheeeLogo {
            max-width: 120px;
            top: 10px;
            left: 10px;
        }
    }
}

/** Button */
#content {
    .wp-block-button.full-width {
        max-width: $content_width_wide;
        margin: 3em auto;

        a {
            width: 100%;
            padding: 1.5em 0;
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 0.07em;
        }
    }

    .wp-block-button a {
        background-color: $color_accent;
        transition: all 0.2s ease-in-out 0s;
    }

    .wp-block-button:hover a:hover {
        background-color: $color_text_dark;
    }
}

/** Testimonial */
.testimonial-position:after {
    display: none;
}

.easy-t-cycle-pager span.cycle-pager-active {
    color: $color_accent;
}

/* Player Columns */
.player-column.wp-block-columns {
    .wp-block-column {
        max-width: none;
    }

    .wp-block-column:first-child {
        max-width: 40px;
    }
}

/* Carousel slider */
#content .carousel-slider-outer {
    max-width: $content_width_wide;
    margin: 0 auto;

    a:hover {
        text-decoration: none;
    }

    .carousel-slider__caption {
        .title {
            text-align: left;
            color: $color_text_dark;
            font-weight: 700;
            font-size: 16px;
        }

        .caption {
            text-align: left;
            color: $color_text_dark;
            font-weight: 400;
            font-size: 16px;
        }
    }
}

/* Youtube Video */
#content {
    .wp-block-embed-youtube {
        background-color: #000;
        margin: 2em 0;

        .wp-block-embed__wrapper {
            max-width: $content_width_wide;
        }
    }
}

@include media("<=desktop") {
    #content {
        .wp-block-embed-youtube {
            iframe {
                max-height: 24em;
            }

            .wp-block-embed__wrapper {

            }
        }
    }
}

/*!
 * Color Pallettes
 */
#content {
    .has-sheee-accent-pink-color {
        color: $color_accent;
    }

    .has-sheee-accent-pink-background-color {
        background-color: $color_accent;
    }

    .has-sheee-dark-pink-color {
        color: $color_accent_dark;
    }

    .has-sheee-dark-pink-background-color {
        background-color: $color_accent_dark;
    }

    .has-sheee-light-gray-color {
        color: $color_text_light;
    }

    .has-sheee-light-gray-background-color {
        background-color: $color_text_dark;
    }

    .has-sheee-dark-gray-color {
        color: $color_text_light;
    }

    .has-sheee-dark-gray-background-color {
        background-color: $color_text_light;
    }
}

/*!
 * Gutenberg elements
 */

.wp-block-columns {
    justify-content: center;
}

.wp-block-columns {
    .wp-block-column {
        max-width: ($content_width / 2 ) - 64;
        margin-left: 32px;
        margin-right: 32px;
    }
}

@include media("<=desktop") {
    .wp-block-columns {
        .wp-block-column {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

#content ul:not(.tp-revslider-mainul) {
    max-width: $content_width;
    margin: 2em auto;

    li {
        color: $color_text_dark;
        margin-left: 1em;
    }
}

#content .sheee-formation {
    display: block;
    padding-top: 4em;
    text-decoration: none;

    h2 {
        background-color: $color_accent_transparent;
        padding: 1em 0;
        text-align: center;
        color: #fff;

        transition: color 0.3s, background-color 0.3s;

        span {
            font-size: .5em;
        }
    }
}

#content .sheee-formation:hover {
    h2 {
        background-color: $color_accent;
    }
}

#content .sheee-imagebanner {
    display: block;
    margin: 4em 0;
    padding-top: 28em;
    background-size: cover;
    background-position: center center;
    text-decoration: none;

    .overlay {
        padding: 2em 0 1em 0;
        background-color: $color_accent_transparent;
    }

    .cta-wrapper {
        max-width: $content_width;
        margin: 0 auto;

        a {
            float: right;
            padding: 1em 2em;
            background-color: $color_accent_dark;
            color: $color_text_light;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;

            transition: color 0.3s, background-color 0.3s;
        }

        a:hover {
            background-color: $color_accent
        }
    }

    h2 {
        margin-top: 0;
    }

    h2,
    p {
        color: $color_text_light;
    }

}

#content .sheee-imagebanner.wide-width {
    max-width: $content_width_wide;
    margin: 4em auto;
}

#content ul.bg-pink {
    background-color: $color_accent;
    padding: 2em 100px;

    li {
        color: $color_text_light;
        font-weight: 700;
        line-height: 1.8em;
    }
}

#content .wp-block-cover {
    margin-bottom: 3em;
}

/*!
 * Forms
 */

#content form {
    .mc4wp-form-fields label {
        display: none;
    }

    input[type=text],
    input[type=email] {
        width: 100%;
        border: none;
        border-bottom: 1px solid $color_accent_dark;
        font-weight: 700;
    }

    input::placeholder {
        color: $color_accent_dark;
        font-weight: 400;
    }

    input[type=submit] {
        border: none;
        background-color: $color_accent;
        color: $color_text_light;
        padding: 1em 2em;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        font-weight: 400;

        transition: color 0.3s, background-color 0.3s;
    }

    input[type=submit]:hover {
        background-color: $color_accent_dark;
        cursor: pointer;
    }
}


/*!
 * Easy Testimonial
 */

#content .easy-t-slideshow-wrap {
    max-width: ($content_width) + 100;
    margin: 2em auto;
    padding: 0;

    blockquote {
        margin: 0 50px;
        padding: 0;
    }

    .easy_testimonial_image_wrapper {
        float: right;

        .attachment-thumbnail {
            margin-left: 2em;
        }

        .attachment-thumbnail.easy_testimonial_mystery_person {
            display: none;
        }
    }

    .testimonial_body p {
        margin-bottom: 0;
    }

    .testimonial_author {
        margin-top: 0;

        cite {
            font-size: 0.8em;
            font-style: normal;
            font-weight: 700;

            span {
                display: inline !important;
                width: auto !important;
            }

            .testimonial-client::after,
            .testimonial-position::after {
                content: ", ";
            }
        }
    }


    .cycle-slideshow {
        margin: 0;
        color: $color_text_light;
        font-size: 1em;
        font-weight: 400;
    }
}

#content .easy-t-slideshow-wrap .cycle-slideshow::before {
    content: "«";
    position: absolute;
    top: 0;
    font-size: 5em;
    color: $color_accent;
}

#content .easy-t-slideshow-wrap .cycle-slideshow::after {
    content: "»";
    position: absolute;
    top: -0.42em;
    right: 0;
    font-size: 5em;
    color: $color_accent;
}

/*!
 * Forms
 */
.site-footer {
    input {
        padding: .4em .8em;
        background: #111;
        border: 1px solid #ba2d74;
        color: #dcdcdc;
        border-radius: 2px;
    }

    .menu {
        margin: 3em 0 0 0;
        padding: 1em 0 0 0;

        li {
            list-style-type: none;
            display: inline;

            a {
                padding: 0 .5em;
            }
        }

        a {
            color: $color_text_dark;
            text-decoration: none;
        }
    }
}

/*!
 * Embed Youtube
 */

.wp-block-embed-youtube .wp-block-embed__wrapper {
    max-width: $content_width - 64;
    margin: 0 auto;

    iframe {
        width: 100%;

    }
}

/*! 
 * Rows BG
 */
.bg-audience-01 {
    background: url(img/bg-audience-01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 2em 0;
}

/*!
 * Classes
 */
#content {
    .news {
        margin-top: 0;
        padding: .8em 0;
        font-weight: 400;
        width: 100%;
        max-width: none;
        text-align: center;

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
