$color_background-screen: #fff;

$color_accent: rgb(236,0,140); /* #ec008c */
$color_accent_dark: #821F52; /* #821F52 */

$color_text_dark: rgb(83, 6, 42); /* #53062a */
$color_text_light: rgb(255, 255, 255); /* #ffffff */



