$color_background-screen: #000;

$color_accent: rgb(186,45,116); /* #ba2d74 */
$color_accent_dark: rgb(130,31,82); /* #821F52 */

$color_text_dark: rgb(220, 220, 220); /* #dcdcdc */
$color_text_light: rgb(51, 51, 51); /* #333333 */



