$color_background-screen: #fff;

/*$color_accent: #d21686;*/
$color_accent: rgb(255, 51, 153);
$color_accent_transparent: rgba(255, 51, 153, .7);
/*$color_accent_header: rgba(210, 22, 134, .9);*/
$color_accent_header: rgba(255, 51, 153, 0.9);
$color_accent_dark: #821F52; /* #821F52 */

$color_text_dark: rgb(83, 6, 42); /* #53062a */
$color_text_light: rgb(255, 255, 255); /* #ffffff */



