html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: $font_main;
    line-height: $font_line-height-body;
}

#masthead {
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: $color_accent_header;
    color: $color_text_light;

    .main-navigation {
        position: fixed;
        width: 100%;
        background-color: $color_accent_header;


        .menu-container {
            display: flex;
            justify-content: center;

            ul.menu {
                margin: 0;
                padding: 1em 0;
            }
        }

        /* Menu Toggle */
        #toggle {
            display: none;
            position: absolute;
            z-index: 90;
            right: 32px;
            width: 28px;
            height: 30px;
            margin: 30px auto 10px;
            cursor: pointer;
        }

        #toggle span:after,
        #toggle span:before {
            content: "";
            position: absolute;
            left: 0;
            top: -9px;
        }

        #toggle span:after {
            top: 9px;
        }

        #toggle span {
            position: relative;
            display: block;
        }

        #toggle span,
        #toggle span:after,
        #toggle span:before {
            width: 100%;
            height: 5px;
            background-color: $color_accent;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 1px;
        }

        /* on activation */
        #toggle.on span {
            background-color: transparent;
        }

        #toggle.on span:before {
            transform: rotate(45deg) translate(5px, 5px);
            background-color: #fff;
        }

        #toggle.on span:after {
            transform: rotate(-45deg) translate(7px, -8px);
            background-color: #fff;
        }
    }
}

@include media("<=desktop") {
    #page {
        position: relative;
    }

    #masthead {
        grid-template-columns: 1fr $logo_element_width 9fr;
        grid-template-rows: 24px $navbar_height;

        .main-navigation {
            .menu-container {
                position: absolute;
                z-index: 80;
                right: -200px;
                top: 0;
                width: 200px;
                background-color: $color_accent;

                ul.menu {
                    padding-top: 4em;

                    li a {
                        padding: 0;
                    }
                }
            }

            #toggle {
                display: block;
            }

            #toggle.on + .menu-container {
                display: block;
                right: 0;
            }
        }

        .main-navigation:target {
            .menu-left {
                display: block;
            }
        }


    }
}

@import "header";

#content {
    h1,
    h2,
    p {
        max-width: $content_width;
        margin: 1em auto;
        color: $color_text_dark;
    }

    h1,
    h2 {
        margin-top: 3em;
        margin-bottom: 1em;
        color: $color_accent;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.4em;
        letter-spacing: 0.07em;
    }
}

#content .wp-block-columns {
    p,
    h2 {
        margin-left: 0;
    }
}

@include media("<=desktop") {
    h2,
    p {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@import "content";

#colophon {
    background-color: $color_accent;
    min-height: 2em;
    padding: 1em 0 0 0;
    color: $color-text_light;

    .widget-area {
        max-width: $content_width;
        margin: 2em auto;

        p {
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.07em;
            font-size: 14px;
        }
    }

    .footer-part2 {
        background-color: #fff;
        color: $color_text_dark;
        min-height: 1em;
        text-align: center;
    }
}

@include media("<=desktop") {
    #colophon {
        .widget-area {
            text-align: center;
        }

    }
}

@import "footer";

/* Color Schemes */
@for $i from 1 through length($schema_names) {
    #{nth($selectors, $i)} {

        #masthead {
            background-color: #{nth($colors_accent_header, $i)};
            color: #{nth($colors_text_light, $i)};

            .main-navigation {
                background-color: #{nth($colors_accent_header, $i)};

                #toggle span,
                #toggle span:after,
                #toggle span:before {
                    background-color: #{nth($colors_accent, $i)};
                }
            }
        }

        @include media("<=desktop") {
            #masthead {
                .main-navigation {
                    .menu-container {
                        background-color: #{nth($colors_accent, $i)};
                    }
                }
            }
        }

        #content {
            h1,
            h2,
            p {
                color: #{nth($colors_text_dark, $i)};
            }

            h1,
            h2 {
                color: #{nth($colors_accent, $i)};
            }
        }

        #colophon {
            background-color: #{nth($colors_accent, $i)};

            .footer-part2 {
                background-color: #fff;
                color: #{nth($colors_text_dark, $i)};
            }
        }

    }
}
